.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2vw;
}

/* layout */

.main > section.info-section {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(132px, 1fr));
}

.main > section.info-section > .header {
    grid-column: 1;
    grid-row: 1 / 3;
    color: rgb(241, 241, 241);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3.25vw;
    font-weight: 200;
    padding-left: 2vw;
}

.main > section.info-section > .slug {
    grid-column: 1;
    grid-row: 3;
    width: calc(100% - 80px);
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 0.5px solid #5e99ff;
    color: rgb(199, 199, 199);
    font-family: 'Noto Sans JP', Roboto, -apple-system;
}

.main > section.info-section > .languages {
    grid-column: 1;
    grid-row: 4;
    padding-top: 4%;
    width: 100%;
    font-size: 1.3vw;
    text-align: center;
    color: rgb(168, 168, 168);
    font-family: 'Noto Sans JP', Roboto, -apple-system;
}

.main > section.info-section > .contact {
    grid-column: 1;
    grid-row: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 32px;
}

/* elements */

.main > .info-section .header > span {
    width: 3.25vw;
}

.main > .info-section .slug .code {
    display: inline-block;
}

.main > .info-section .slug .code img {
    width: 5vw;
    height: 5vw;
    padding: 4px;
    margin-right: 2vw;
    background-color: #c7a40a;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.main > .info-section .slug > span {
    font-size: 1.7vw;
    overflow-wrap: normal;
    width: 74%;
}

.main > .info-section .contact .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main > .info-section .contact .social-media svg {
    width: 16px;
    height: 16px;
    fill: rgb(228, 228, 228);
    margin: 16px 0 0;
    padding: 0 10px;
    border-right: 2px solid white;
}

.main > .info-section .contact .social-media a:last-child > svg {
    border-right: 0;
}

.main > section.info-section > .contact .button {
    font-size: 1.6vw;
    width: 18vw;
    height: 60px;
    text-transform: uppercase;
}

.main > section.info-section .languages a {
    color: unset;
    text-decoration: none;
    margin: 0 2px;
}

.main > section.info-section .languages > a:hover {
    color: #c7a408c7;
}

/* pic-section */

.main > .pic-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 1020px) {
    .main {
        grid-gap: 0;
    }

    .main > section.pic-section {
        grid-row: 1;
        display: block;
        margin: auto;
        width: calc(50%);
        height: 550px;
    }

    .main > section.info-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .main > section.info-section > .header {
        font-size: 5vw;
    }

    .main > section.info-section > .slug {
        width: calc(100% - 160px);
        align-items: flex-start;
        border: 0;
        padding-top: 14px;
    }

    .main > .info-section .slug > span {
        flex-basis: 70%;
        font-size: 2.5vw;
    }

    .main > section.info-section > .languages {
        font-size: 2vw;
        margin-left: 0;
    }

    .main > section.info-section > .contact .button {
        width: 24vw;
        height: 5vw;
        font-size: 2.2vw;
        border-radius: 4px;
    }
}

@media only screen 
    and (max-width: 640px)
    and (orientation: portrait) {
    .main {
        grid-template-columns: repeat(1, minmax(100vw, 1fr));
    }

    .main > section.pic-section {
        grid-row: 1;
        display: block;
        margin: auto;
        width: 80%;
        z-index: -2;
        height: 300px;
    }

    .main > section.info-section {
        display: flex;
        flex-direction: column;
    }

    .main > section.info-section > .header {
        font-size: 7.5vw;
        padding: 6% 0 6% 0;
    }

    .main > section.info-section > .slug {
        margin-left: 0;
        width: 100%;
    }

    .main > .info-section .slug .code {
        width: 10vw;
        height: 10vw;
    }

    .main > .info-section .slug > span {
        font-size: 4.5vw;
    }

    .main > section.info-section > .languages {
        font-size: 3vw;
    }
}
