.side-nav-contents {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-nav-contents .set-lang > p:first-of-type {
    font-size: 9px;
}

.side-nav-contents .set-lang > p {
    padding-bottom: 14px;
    text-align: center;
    cursor: pointer;
}

.side-nav-contents svg {
    display: block;
    margin: 0 auto;
}

.side-nav-contents .nav-opts ul svg {
    fill: rgb(223, 223, 223);
    width: 44px;
    height: 44px;
    margin-bottom: 18px;
}

.side-nav-contents .nav-opts ul .active svg {
    fill: rgb(84, 201, 201);
}
